<section class="about-intro">
  {% if section.settings.image %}
    <img src="{{ section.settings.image | img_url: 'master' }}" alt="{{ section.settings.image.alt }}">
  {% endif %}
  <div class="wrapper">
    <div class="text">
      <h3>{{ section.settings.subtitle }}</h3>
      <h2>{{ section.settings.title }}</h2>
      {{ section.settings.text }}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "About Intro",
  "settings": [
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitle"
    },
    {
      "type": "richtext",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    }
  ]
}
{% endschema %}
