<section class="about-always-safe">
  <div class="wrapper">
    <div class="text">
      <h3>{{ section.settings.subtitle }}</h3>
      <h2>{{ section.settings.title | newline_to_br }}</h2>
      {{ section.settings.text }}
    </div>
  </div>
  <div class="image">
    {% if section.settings.image %}
      <img src="{{ section.settings.image | img_url: 'master' }}" alt="{{ section.settings.image.alt }}">
    {% endif %}
  </div>
</section>

{% schema %}
{
  "name": "About Always Safe",
  "settings": [
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitle"
    },
    {
      "type": "textarea",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "richtext",
      "id": "text",
      "label": "Text"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    }
  ]
}
{% endschema %}
