<section class="home-testimonials">
  <div class="wrapper">
    <div class="content">
      <h3>{{ section.settings.subtitle }}</h3>
      <h2>{{ section.settings.title | newline_to_br }}</h2>

      <div class="home-testimonials-slider">
        {% for block in section.blocks %}
          <div class="testimonial">
            {{ block.settings.text }}
            <div class="author">{{ block.settings.author }}</div>
          </div>
        {% endfor %}
      </div>
    </div>
    <div class="image">
      {% if section.settings.image %}
        <img src="{{ section.settings.image | img_url: 'master' }}">
      {% endif %}
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Home Testimonials",
  "settings": [
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitle"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title"
    },
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    }
  ],
  "blocks": [
    {
      "type": "testimonial",
      "name": "Testimonial",
      "settings": [
        {
          "type": "richtext",
          "id": "text",
          "label": "Text"
        },
        {
          "type": "text",
          "id": "author",
          "label": "Author"
        }
      ]
    }
  ],
  "presets": [
    {
      "category": "Custom Content",
      "name": "Home Testimonials"
    }
  ]
}
{% endschema %}
